* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial;
  background: #eef2f7;
  padding: 30px;
}

header {
  text-align: center;
  margin-bottom: 30px;
}

header h1 {
  font-size: 40px;
}

header p {
  color: #666;
}

.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  gap: 20px;
}

.card {
  background: white;
  border-radius: 20px;
  padding: 30px;
  text-align: center;

  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
}

.card h2 {
  margin-bottom: 20px;
}

.card p {
  font-size: 40px;
  font-weight: bold;
}

.controle {
  text-align: center;
  margin: 30px 0;
}

button {
  border: none;
  padding: 15px 25px;
  font-size: 20px;
  border-radius: 12px;
  cursor: pointer;
  margin: 10px;
}

#ligar {
  background: green;
  color: white;
}

#desligar {
  background: red;
  color: white;
}

.graficos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  gap: 20px;
}

.grafico-card {
  background: white;
  border-radius: 20px;
  padding: 20px;
  height: 350px;

  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
}

.grafico-card h3 {
  margin-bottom: 15px;
}

@media (max-width: 1000px) {
  .cards,
  .graficos {
    grid-template-columns: 1fr;
  }
}
